* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    position: relative;
    padding-bottom: 140px;
    min-height: 100vh;
    background-color: var(--bg-color);
}

.css-1snnooa-MuiLinearProgress-root {
    background-color: red !important;
}

@media screen and (max-width:768px) {
    body {
        padding-bottom: 240px;
    }
}

@media screen and (max-width:480px) {
    body {
        padding-bottom: 220px;
    }
}

::-webkit-scrollbar{
    width: 0.5rem;
}
::-webkit-scrollbar-track{
    /* background-color: var(--text-color); */
}
::-webkit-scrollbar-thumb{
    background-color: var(--text-color);
    border-radius: 10px;
    border: 2px solid transparent;
    background-clip: content-box;
}
::-webkit-scrollbar-thumb:hover{
    background-color: grey;
}