.changepassword_container {
  /* height: 100vh; */
  min-height: 100vh;
  padding-top: 80px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.changepassword_container:before {
  content: "";
  /* background: url("../../../public/images/contact.jpg") center center/cover no-repeat; */
  background: url("../../../../../public/images/contact.jpg") center center/cover no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.6;
}

.changepassword {
  height: 100%;
  width: 100%;
  padding: 20px 60px;
  /* max-width: 1000px; */
  /* border: 2px solid black; */
  display: flex;
  justify-content: center;
}

.changepassword_content {
  /* max-width: 1000px; */
  max-width: 800px;
  width: 50%;
  padding: 20px;
  border: 2px solid black;
  border-radius: 5px;
  background-color: #ccc;
  box-shadow: 2px 2px 8px 5px #888888;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 1.1rem;
}

.changepassword_content form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.changepassword_content .container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-weight: bold;
}

.changepassword_content input {
  height: 35px;
}

.password_field {
  position: relative;
}

.password_field input {
  width: 100%;
}

.password_field span {
  position: absolute;
  right: 5px;
  padding: 5px;
  height: 35px;
  cursor: pointer;
}

.password_field span.hide_pass {
  visibility: hidden;
}

.changepassword_content small {
  font-size: 0.8rem;
  font-weight: 500;
  color: rgb(141, 17, 17);
  /* visibility: hidden; */
  display: none;
}

.changepassword_content input {
  border-radius: 5px;
  padding: 5px;
  border: none;
}

/* button[disabled] {
  opacity: 0.5;
  pointer-events: none;
} */

.changepassword_content input.highlight-red {
  border: 2px solid rgb(141, 17, 17);
  box-shadow: 2px 2px 2px 1px rgb(141, 17, 17);
}

.changepassword_content input.highlight-green {
  border: 2px solid rgb(39, 177, 39);
  box-shadow: 2px 2px 2px 1px rgb(39, 177, 39);
}

.changepassword_content input:focus {
  outline: none;
}

.container.changepassword_button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container.changepassword_button button {
  border-radius: 20px;
  height: 35px;
  font-weight: bold;
  background-color: blue;
  color: white;
  font-size: 1.2rem;
  width: 40%;
  cursor: pointer;
}
.container.changepassword_button div {
  position: absolute;
}
.container.changepassword_button div span{
  width: 20px !important;
  height: 20px !important;
  color: darkred !important;
}
.container.changepassword_button button[disabled]{
  opacity: 0.5;
  pointer-events: none;
}

.container.changepassword_button button:hover {
  background-color: rgb(74, 74, 240);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media screen and (max-width: 1140px) {
  .changepassword_content {
    width: 70%;
  }
}

@media screen and (max-width: 768px) {
  .changepassword {
    padding: 20px;
  }

  .changepassword_content {
    /* padding: 5px; */
    font-size: 1rem;
    width: 70%;
  }

  .password_field span {
    padding-top: 10px;
  }

  .logIn_container {
    flex-direction: column;
    gap: 5px;
    height: 50px;
  }
}

@media screen and (max-width: 480px) {
  .changepassword {
    padding: 10px;
  }

  .changepassword_content {
    font-size: 0.85rem;
    gap: 5px;
    width: 85%;
  }

  .container.changepassword_button button {
    font-size: 1rem;
  }
}