.channels_container{
    /* width: 100vw; */
    /* height: 100vh; */
    /* height: calc(100vh - 80px); */
    height: calc((var(--vh) * 100) - 80px);
    /* height: calc(var(--vh) * 100); */
    /* position: relative; */
    overflow-x: hidden;
    display: flex;
    background-color: var(--bg-color);
    border-bottom: 1px solid #ccc;
}

.channels_info{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.channels_intro{
    width: 100%;
}
.channels_intro h2{
    font-size: 2.5rem;
    color: var(--text-color);
}
.channels_msg{
    width: 100%;
    font-size: 1.2rem;
    color: var(--text-color);
}
.channels_grid{
    width: 50%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.channels_img_grid{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 5px;
    /* padding: 20px; */
    justify-content: center;
    align-items: center;
}
.img_container{
    /* width: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.img_container img{
    width: 80%;
}
.img_container img:hover{
    transform: scale(1.02);
    box-shadow: 2px 2px 8px 5px #888888;
    cursor: pointer;
}

/* MEDIA QUERIES */
@media screen and (max-width: 1140px){
    .channels_info{
        padding: 20px;
    }
    .channels_intro h2{
        font-size: 2rem;
    }
    .channels_msg{
        font-size: 1rem;
    }
    
}
@media screen and (max-width: 768px){
    .channels_container{
        flex-direction: column;
    }
    .channels_info{
        width: 100%;
        height: 35%;
        padding: 10px;
        gap: 10px;
    }
    .channels_intro h2{
        font-size: 1.5rem;
        text-align: center;
    }
    .channels_msg{
        text-align: center;
    }
    .channels_grid{
        width: 100%;
        height: 65%;
    }
    .channels_img_grid{
        width: 50%;
    }
    .img_container img{
        width: 85%;
    }
    
}

@media screen and (max-width: 620px){
    .channels_img_grid{
        width: 60%;
    }
    .img_container img{
        width: 90%;
    }
}

@media screen and (max-width: 480px){
    .channels_msg {
        font-size: 0.9rem;
    }
    .channels_img_grid{
        width: 80%;
    }
    .img_container img{
        width: 90%;
    }
    
}