.media_card_container {
  height: 100%;
  /* width: 100%; */
  display: flex;
  /* gap: 20px; */
  justify-content: center;
  align-items: center;
  /* padding-right: 0 10px; */
  /* border-radius: 20px; */
  position: relative;
}

.media_card-poster_img,
.media_card-poster_img img {
  /* background: url("../../../../../public/images/no_img.png");
  border-radius: 20px; */
  height: 100%;
  aspect-ratio: 2/3;
}


.media_card_container:hover {
  transform: scale(0.95);
  transition: all 0.5 ease-in;
}

.media_card {
  height: 100%;
  width: 100%;
  position: absolute;
}

.media_card-poster_img img {
  /* border: 1px solid var(--text-color); */
  border-radius: 20px;
}

.media_details_conainer {
  width: 100%;
  height: 100%;
  position: relative;
}

.media_details_conainer::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  /* z-index: -1; */
  z-index: 0;
  background-color: var(--text-color);
  background-color: var(--bg-color);
  opacity: 0.15;
  /* opacity: 1; */
  border-radius: 20px;
}

.media_card-media_info_container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all 0.5s ease;
  /* ADDED */
  position: relative;
}

.media_card-media_info_container:hover {
  opacity: 1;
}

.media_card-media_link span {
  width: 70px;
  background-color: red;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  color: white;
  color: var(--text-color);
  padding: 5px;
  cursor: pointer;
  opacity: 0.6;
}

.media_card-media_link span:hover {
  opacity: 1;
}

.media_card-media_info {
  /* position: relative;
    z-index: 2; */
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 5px 0 0px 5px;
  padding: 5px 0 5px 10px;
}

.media_card-media_info::before {
  content: "";
  background-color: black;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  /* z-index: -1; */
  background: black;
  background-color: var(--bg-color);
  opacity: 0.5;
  border-radius: 10px;
}

.media_card-media_utils {
  display: flex;
  gap: 10px;
}

.media_card-media_utils .utils {
  display: flex;
  align-items: center;
  gap: 5px;
  /* background-color: grey; */
  border: 2px solid var(--text-color);
  border-radius: 5px;
  padding: 3px;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  color: var(--text-color);
  position: relative;
}

.media_card-media_utils .utils .material-icons {
  font-size: 1rem;
}

.media_card-media_utils .utils::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: -1;
  background-color: grey;
  opacity: 0.4;
}

.media_card-media_name {
  height: 3.5rem;
  width: 100%;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  position: relative;
  padding-bottom: 5px;
}

.media_card-media_name span {
  color: white;
  color: var(--text-color);
  font-size: 1.5rem;
  font-weight: bold;
}

.media_favorite_container {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  /* background-color: #fff; */
  border-radius: 5px;
}

.media_favorite_container .links.favorite {
  text-decoration: none;
  color: white;
}

.media_favorite_container .links.favorite div span {
  height: 20px !important;
  width: 20px !important;
}

.media_favorite_container .links.favorite .fav_highlight {
  color: red;
}


@media screen and (max-width: 870px) {

  .media_card-media_utils .utils {
    font-size: 0.7rem;
  }

  .media_card-media_name {
    height: 2rem;
  }

  .media_card-media_name span {
    font-size: 0.9rem;
  }

  .media_card-media_link span {
    width: 50px;
  }

  .links.watch_now .material-icons {
    font-size: 1rem;
  }
}

@media screen and (max-width: 768px) {

  .media_card-media_info_container,
  .media_card-media_link span {
    opacity: 1;
  }
}

@media screen and (max-width: 480px) {

  .media_card-media_info {
    padding: 5px 0 5px 5px;
  }

  .media_card-media_name span {
    font-size: 0.8rem;
  }

  .media_card-media_utils .utils .material-icons {
    font-size: 0.7rem;
  }

  .links.watch_now .material-icons {
    font-size: 0.8rem;
  }

  .media_card-media_link span {
    width: 40px;
  }
}